/* body {
    background-image: url('/src/images/reactprojectbackgroundpic.jpg');
    background-size: cover;
    background-position: center;
  } */
  /* body, html {
    height: 100%;
    margin: 0%;
  } */

  body {

    background-color: blue;
  } 
  body, html {
    height: 100%;
    margin: 0%;
  } 