

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
 
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 25px;
  text-decoration: none;
  width: 100px; /* Limit width */
  height: 40px;
}

nav ul li a:hover {
  background-color: #111;
}
/* src/components/Navbar.css */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: flex;
  justify-content: space-between; 
 
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: rgb(80, 20, 20);
  text-align: centler;
  padding: 20px 25px;
  text-decoration: none;
  font-size: 100%;
}

nav ul li a:hover {
  background-color: #9d67c7;
}

.home-background {
  background-image: url('/src/images/reactprojectbackgroundpic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; 
  color: rgb(45, 12, 235);

  
}

.content_txt
{
 
  display: inline-block;
  line-height: 1;
  color: #f1efef;
  /* background-color: hsl(216, 66%, 46%); */

}

.Calender-background {
  color: #4164d8;
  background-color: #0d0952;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; 
}

.contact-background {
 background-color:rgb(3, 8, 17);
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
 height: 100%;
 position: absolute; 
 color: #2f90d1;
}


.EventPlanner-background {
  background-color:rgb(7, 3, 53);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; 

  .Drawerevent
  {
    background-color: #9d67c7;
  }
  
 }
body {
  /* background-color:rgb(18, 18, 19) */
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
 
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
.appbarw{

  color: black;
  background-color:rgb(16, 16, 230)
}
.welcome
{
  color: rgb(2, 3, 27);
  /* background-color:rgb(103, 103, 153); */
  font-size: 200%;
  text-indent: 0cqi;
  
}
.review{
  background-color: #885598;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute; 
  color: rgb(71, 74, 112);

}

.Event_Text
{
  color: rgb(129, 113, 199);
  background-color:rgb(147, 210, 240); 
  text-indent: 0cqi;
}
.Event_Text1
{
  color: rgb(100, 216, 245);
  background-color:rgb(171, 199, 231); 
  text-indent: 0cqi;
}
.Event_Text2
{
  color: rgb(106, 100, 121);
  background-color:rgb(26, 9, 185); 
  text-indent: 0cqi;
}
.Sucessful
{
 

  width: 100%;
  height: 100%;
  position: top; 
  color: rgb(226, 64, 205);
  font-size: 300%;

}
.rvd
{
  /* width: 100%;
  height: 100%;
  position: center;  */
  color: rgb(21, 35, 165);
  /* font-size: 100%; */
}