
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* background image added by pousali*/

/* .backgroundImage {
  background-image: url('/src/images/reactprojectbackgroundpic.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
} */
/* body {
  background-image: url('/src/images/reactprojectbackgroundpic.jpg');
  background-size: cover;
  background-position: center;
} */
body, html {
  height: 100%;
  margin: 0%;
}